<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <title>Save Categorie</title>
</head>
<body>
<div class="container">
    <h3> Categorie</h3>
    <hr>
    <p class="h4 mb-4">Save Categorie</p>
    <form action="#" th:action="@{/categorie/save}"
          th:object="${categorie}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{code}" placeholder="Code"
               class="form-control mb-4 w-25">
        <input type="text" th:field="*{designation}" placeholder="Designation"
               class="form-control mb-4 w-25">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/categorie/list}" >Back to Categorie List </a>
</div>
</body>
</html>